body{
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
}

.bg_logo
{
    float: left;
}
.navbar ul li {
    float: left;
    padding: 23px;
    display: inline-block;
}
.navbar ul li a
{
    color: #000;
}
.navbar ul li h4
{
    font-size: 20px;
}
.navbar ul li p
{
    font-size: 10px;
    float: left;
}
.new1 {
    background-color: #5b8726;
    border-radius: 50px;
    font-size: 12px;
    padding-top: 4px 4px;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-right: 4%;
    top: -23px;
    flex-direction: row-reverse;
}
.bg_logo img {
    width: 71%;
    margin-left: 43%;
    margin-top: 7%;
}

.bg_see {
    float: left;
    width: 100%;
    background-image: url(image1/see2.png);
    text-align: center;
    min-height: 54vh;
    background-size: cover;
    margin-top: -4%;
}

.bg_see h1 {
    margin-top: 11%;
    color: #fff;
    margin-right: 24%;
}
.bg_text1
{
    text-align: center;
    margin-top: 8%;
}
.bg_text1 h1 {
    color: #5b8726;
    font-size: xx-large;
}
.bg_text1 p
{
    font-size: larger;
    margin-bottom: 50px;
}
.bg_ride {
    background-image: url(image1/ride1.png);
    width: 100%;
    float: left;
    background-size: cover;
    min-height: 79vh;
    text-align: center;
    color: #fff;
    z-index: 10px;
}
.text2 {
    float: left;
    text-align: center;
    color: #fff;
    margin-left: 20%;
    margin-top: 14%;
}
.bg_ride1 h1
{
    margin-top: 10%;
}
.text3 {
    background-color: #f8f9f6;
    padding-top: 2%;
}
.bg_from {
    text-align: center;
    margin: 7%;
 
}
.bg_from h1
{
    margin-bottom: 5%;
}
.bg_from h2
{
    color: #5b8726;
}
.book
{
    text-align: center;
    margin: 2%;
}
.input1
{
    width: 100%;
    
}
.input1 input
{
    width: 80%;
    border-color: #5b8726;
    
}
.input1 ::placeholder
{
    color: #5b8726;
}
.book h1 {
    color: #5b8726;
    margin-bottom: 45px;
}
.book p{
    margin-bottom: 62px;
 
}
.btn1 {
    background-color: black;
    color: #fff;
    margin-top: 5%;
    padding: 10px 50px;
}
.bg_green
{
    background-image: url(image1/green1.PNG);
    width: 100%;
    float: left;
    background-size: cover;
    text-align: center;
    min-height: 50vh;
    color: #fff;
}
.navbar1 ul li {
    float: left;
    padding: 23px;
    display: inline-block;
    text-align: center;
}
.bg_logo2
{
    margin-top: 8%;
}
.navbar1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
/* contact */
.tree
{
    background-image: url(image1/tree1.PNG);
    width: 100%;
    float: left;
    background-size: cover;
    text-align: center;
    min-height: 50vh;
    color: #fff;
    margin-top: -4%;

}
.tree h1
{
    margin-top: 8%;
    font-size: 50px;
}
.text5 
{
    text-align: center;
}
.text5 h1{
    color: #5b8726;
}
.text5 p i
{
    color: #5b8726;
}
/* home page */
.see {
    background-image: url(image1/tartal1.PNG);
    background-size: contain;
    min-height: 70vh;
    margin-top: -54px !important;
}
.seewater {
    width: 21%;
    text-align: center;
    color: #fff;
    margin-left: 40%;
    
    /* margin-top: 10%; */
    padding: 20% 0px;
}
.text6
{
    text-align: center;
    margin-top: 5%;
}
.bg_text6
{
    width: 100%;
}
.text6 h1 {
    color: #5b8726;
    font-size: xx-large;
}
.text6 p
{
    font-size: smaller;
}
.text6 h4{
    font-size: large;
    
   
}
.photo4
{
    width: 100%;
    float: left;
    margin-top: 10%;
}
.bg_1 {
    width: 25%;
    float: left;
    /* min-height: 65vh; */
    background-image: url(image1/1.png);
    background-size: cover;
    background-position: center;
}
.bg_2
{   width: 25%;
    float: left;
   
    background-image: url(image1/12.png);
    margin-top: -2%;
    background-size: cover;
}
.bg_3
{   width: 25%;
    float: left;
  
    background-image: url(image1/13.png);
    margin-top: -4.50%;
    background-size: cover
}
.bg_4
{   width: 25%;
    float: left;
   
    background-image: url(image1/14.png);
    margin-top: -6.80%;
    background-size: cover
}
.bg_1 H4 {
    padding: 243px 0px;
    text-align: center;
    color: #fff;
}
.bg_2 H4 {
    padding: 243px 0px;
    text-align: center;
    color: #fff;
    
}
.bg_3 H4 {
    padding: 243px 0px;
    text-align: center;
    color: #fff;
}
.bg_4 H4 {
    padding: 243px 0px;
    text-align: center;
    color: #fff;
}
.text4 h1{
    font-size: x-large;
}
.market h2
{
    font-size: 15px;
    padding-bottom: 35px;
}
.bg_map {
   
   
 
    width: 100%;
    transform: skewY(354deg);
    margin-top: 80px;
}
.bg_information1
{
 text-align: center;
 margin-top: 10%;
 
}
.infor {
    margin: 1%;
}
.infor input {
    width: 22%;
    /* float: left; */
}
.infor1 {
    margin: 1%;
}
.infor1 input {
    width: 22%;
    /* float: left; */
}
.infor3 input {
    width: 22%;
    /* float: left; */
    margin-bottom: 2%;
}
.infor2 input
{
    width: 44%;
    padding-bottom: 3%;
}

/* destition*/
.pamatree {
    background-image: url(image1/d1.png);
    background-size: cover;
    min-height: 50vh;
    color: #fff;
    float: left;
    width: 99%;
    margin-top: -2%;
}
.pamatree h1
{
    text-align: center;
    margin-top: 5%;
}
.d2 {
    background-image: url(image1/d2.png);
    min-height: 50vh;
    background-size: cover;
    float: left;
    width: 100%;
    margin-top: -11%;
}
.text7
{
    text-align: center;
}
.d3{
    background-image: url(image1/d3.png);
    min-height: 50vh;
    background-size: cover;
    float: left;
    width: 100%;
    margin-top: -9%;
}
.text7_1
{
    text-align: center;
    margin-top: 10%;
}
.d4 {
    background-image: url(image1/d4.png);
    min-height: 50vh;
    background-size: cover;
    float: left;
    width: 100%;
    margin-top: -1%;
}
.text7_2
{
    text-align: center;
    margin-top: 10%;
}
.d5 {
    background-image: url(image1/d5.png);
    min-height: 50vh;
    background-size: cover;
    float: left;
    width: 100%;
    margin-top: -11%;
    margin-bottom: 14%;
}
.text7_3
{
    text-align: center;
    margin-top: 10%;
}
.join
{
    background-image: url(image1/Jobs\ 1.png);
    min-height: 50vh;
    background-size: cover;
    float: left;
    width: 100%;
    
}
.join h1
{
    text-align: center;
    margin-top: 10%;
    color: #fff;
}
.text8
{
    text-align: center;
    margin-top: 5%;
}
.text8  h1
{
    color:#5b8726 ;
}
.sumbit
{
    text-align: center;
    margin-top: 5%;
    background-color: #f8f9f6;
    padding-top: 5%;
    transform: rotate3d()(354deg);
}
.infor2 {
    margin-bottom: 2%;
}
.infor4 input
{
    width: 22%;
}
.infor4 select
{
    width: 10%;
    
}
.infor4
{
    margin-bottom: 2%;
}
.infor4 h1
{
    margin-right: 40%;
    
}
/*spacil*/
.text9
{
    background-image: url(image1/s01.png);
    min-height: 50vh;
    background-size: cover;
    float: left;
    width: 100%;
    color: #fff;
    margin-top: -4%;
}
.bg_text9
{
    text-align: center;
    margin-top: 10%;
}
.five
{
    text-align: center;
}
.maxico
{
    background-image: url(image1/s1.png);
    min-height: 50vh;
    background-size: cover;
    float: left;
    width: 100%;
    margin-bottom: 2%;

    color: #fff;
}
.bg_maxico
{
    text-align: center;
    margin-top: 35%;
}
.orlando
{
    background-image: url(image1/s2.png);
    width: 100%;
    background-size: cover;
    min-height: 24vh;
    margin-bottom: 2%;
}
.bg_orlando
{
    text-align: center;
    color: #fff;
}
.stay
{background-image: url(image1/s3.png);
    width: 100%;
    background-size: cover;
    min-height: 24vh;
    margin-bottom: 2%;
}
.bg_stay
{
    text-align: center;
    color: #fff;
}
.grandhotal
{
    background-image: url(image1/s4.png);
    width: 100%;
    background-size: cover;
    min-height: 25vh;
    margin-bottom: 2%;
}
.bg_grandhotal
{
    text-align: center;
    color: #fff;
}
.beachresot
{
    background-image: url(image1/s5.png);
    width: 100%;
    background-size: cover;
    min-height: 25vh;
}
.bg_beachresot
{
    text-align: center;
    color: #fff;
}